.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  border-radius: 23px;
}
.Button.theme-light {
  background-color: #fa8e2c;
}
.Button.theme-light.disabled {
  background-color: #aaa;
}
.Button.theme-dark {
  background-color: var(--color-dark-theme-accent);
  color: var(--color-dark-theme-text);
}
.Button.theme-dark.disabled {
  background-color: #ccc; /* No global color definition for this state */
}
.Button.size-small {
  min-width: 190px;
  width: fit-content;
  height: 63px;
}
.Button.size-large {
  min-width: 352px;
  width: fit-content;
  height: 88px;
}

.Button-icon {
  margin-top: 7px;
}

.Button-text-icon {
  margin-left: 10px;
}
