.CardContainer {
  width: 520px;
  height: 770px;
  margin: 70px 15px;
  border-radius: 68px;
  opacity: 1;
  background-image: url("../../assets/risquinhos\ card\ esquerda.svg");
  background-position: left bottom;
  background-repeat: no-repeat;
}
.CardContainer {
  background-color: var(--color-light-theme-field-background);
  box-shadow: inset 0px 0px 9px var(--color-light-theme-box-shadow1),
    0px 0px 15px var(--color-light-theme-box-shadow2);
  border: 3px solid var(--color-light-theme-card-border);
}

.CardContainer-inner {
  display: grid;
  gap: 60px;
  padding: 63px;
}

.CardContainer-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.CardContainer-details {
  font-weight: bold;
  justify-self: left;
  letter-spacing: -0.9px;
  color: var(--color-light-theme-text-accent);
}

.CardContainer-name {
  font-size: 36px;
  line-height: 33px;
  float: left;
  clear: left;
}

.CardContainer-position {
  float: left;
  clear: left;
  font: italic bold 33px "Meta Correspondence Pro";
  width: 335px;
  height: 45px;
  margin-left: -5px;
}

.CardContainer-position-svgText {
  fill: none;
  stroke: var(--color-light-theme-text-accent);
  stroke-width: 1.5px;
  stroke-linejoin: miter;
}

.CardContainer-icon {
  justify-self: right;
  width: auto;
}

.CardContainer-qrcode {
  height: 300px;
  justify-self: center;
}

.CardContainer-logo {
  margin-top: 20px;
}

@supports (-webkit-text-stroke: 1px #fff) {
  .CardContainer-details {
    -webkit-text-stroke-color: var(--color-light-theme-text-accent);
    -webkit-text-stroke-width: 1.5px;
  }

  .CardContainer-position {
    color: transparent;
  }
}
