.MainPage-wrapper {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, minmax(352px, 352px));
}

@media (max-width: 1100px) {
  .MainPage-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
  }
}
