.Container {
  min-width: 100%;
  overflow: hidden;
}

.Container-header {
  background-color: #2e79de;
  height: 86px;
  line-height: 86px;
  text-align: left;
}

.Container-header-logo {
  vertical-align: middle;
  margin-left: 40px;
}

.Container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 86px - 57px);
  background-image: url("../assets/riscos\ esquerda.svg"), url("../assets/riscos\ direita.svg");
  background-position: left bottom, right top;
  background-repeat: no-repeat, no-repeat;
}
.Container-main.theme-light {
  background-color: var(--color-light-theme-background);
}
.Container-main.theme-dark {
  background-color: var(--color-dark-theme-background);
}

.Container-footer {
  height: 57px;
  line-height: 57px;
  text-align: left;
}

.Container-footer-copyrightnotice {
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-left: 40px;
  color: #AAAAAA;
}

.Container-footer.theme-light {
  background-color: var(--color-light-theme-background);
}

.Container-footer.theme-dark {
  background-color: var(--color-dark-theme-background);
}

.Container-footer-copyrightnotice.theme-light {
  color: #AAAAAA;
}

.Container-footer-copyrightnotice.theme-dark {
  color: #FFFFFF;
}

@media (max-width: 1100px) {
  .Container-header {
    text-align: center;
  }
  .Container-header-logo {
    margin: auto;
  }
}
