.CardsPage-wrapper {
  display: grid;
  align-items: center;
  gap: 40px;
  grid-template-columns: 0.3fr 2.14fr;
}

.CardsPage-grid-right {
  display: grid;
  gap: 35px;
  grid-template-columns: auto min-content;
}

.CardsPage-select-field-container {
  width: 100%;
  justify-self: start;
}

.CardsPage-button-container {
  justify-self: end;
  margin-top: 40px;
}

@media (max-width: 1100px) {
  .CardsPage-wrapper {
    grid-template-columns: 1fr;
  }
  .CardsPage-grid-right {
    grid-template-columns: 1fr;
  }
}
