.NewCardPage-wrapper {
  display: grid;
  align-items: center;
  gap: 40px;
  grid-template-columns: 0.3fr 2.14fr;
  margin: 70px 15px;
}

.NewCardPage-grid-right {
  display: grid;
  gap: 35px;
  grid-template-columns: auto min-content;
}

@media (max-width: 1100px) {
  .NewCardPage-wrapper {
    grid-template-columns: 1fr;
  }
  .NewCardPage-grid-right {
    grid-template-columns: 1fr;
  }
}
